@charset "UTF-8";

body {
    color: black;
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: rgb(247, 167, 102); */
}

.nav-container{
    width: auto;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(247, 138, 15);
    border-width: 5px;
    border-style: double;
    border-color: black;
}

.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #fffdf9;
    border-left: solid 10px #ffc06e;
}

.footer{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    border-width: 5px;
    border-style: double;
    border-color: black;
    max-width: 400px;
    text-align: center;
    color: black;
    background-color: rgb(247, 138, 15);
}