.container{
    width: auto;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(247, 167, 102);
}

.nav-container{
    width: auto;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: chartreuse;
}